<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="navbar">
    <div class="container">
      <div class="col-sm-12">
        <h2 class"polisci">Forza Azzurri</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <p><%= notice %></p>
    <p><%= alert %></p>
    <div class="row">
      <div class="col-sm-4">
        <div class="chg-size6">
        </div>
      </div>
      <div class="col-sm-5">
        <%= yield %>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</body>
</html>
